.App {
  text-align: center;
}
:root {
  --light-mode-primary-color: #493d6e;
  --light-mode-div: #cec8ff;
  --light-mode-body-copy: #818181;
}
a {
  text-decoration: none;
}
a:visited {
  color: inherit;
}
